<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Testtabbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D50C9D01DAA53CD00DE3BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D50C9E91DAA53CD00DE3BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D50C9F41DAA53CD00DE3BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
